package {{.PackageName}}

import (
	"time"
)

// Entity entity structure.
type Entity struct {
	ID int64 `db:"id" autoincrement:"true"`

	CreatedAt time.Time  `db:"created_at"`
	UpdatedAt time.Time  `db:"updated_at"`
	DeletedAt *time.Time `db:"deleted_at"`
}

func (e *Entity) GetID() int64 {
	return e.ID
}

func (e *Entity) GetCreatedAt() time.Time {
	return e.CreatedAt
}

func (e *Entity) GetUpdatedAt() time.Time {
	return e.UpdatedAt
}

func (e *Entity) GetDeletedAt() *time.Time {
	return e.DeletedAt
}
