package {{.DbType}}

import (
	"context"

	{{if .Alias}}{{.Alias}} {{end}}"{{.ModulePath}}/internal/domain/{{.SnakeName}}"
	"github.com/jmoiron/sqlx"
)

type {{.FirstLowerName}}Repository struct {
	table string
	db    *sqlx.DB
}

func New{{.FirstUpperName}}Repository(db *sqlx.DB) *{{.FirstLowerName}}Repository {
	return &{{.FirstLowerName}}Repository{
		table: "{{.EntityTable}}",
		db:    db,
	}
}

func (r {{.FirstLowerName}}Repository) Table() string {
	return r.table
}
