package repositories

import (
	"{{.ModulePath}}/internal/repository"
	"github.com/jmoiron/sqlx"
)

type repositories struct {
	db *sqlx.DB
}

func New(db *sqlx.DB) repository.Repositories {
	return repositories{db: db}
}

func (r repositories) {{.Entity}}() repository.{{.Entity}} {
	return NewUserRepository(r.db)
}